python-dotenv
langchain
langchain-community
langchain-openai
langchain-core
langchain-cli
faiss-cpu
openai
PyMuPDF
docx2txt
mysql-connector-python
langchain_huggingface
pytesseract
pdfplumber
python-docx
docx
fastapi
uvicorn
pandas
python-multipart
pymongo
PyPDF2